<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
	<%= stylesheet_link_tag 'home' %>
	<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=ABeeZee' %>
</head>
<body>
	<!-- header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-xs-5 box" id="box1">
					<p>MODERN</p>
					<p>COLLECTION</p>
					<p id="fit">Always Fit Your Taste</p>
				</div>
				<div class="col-xs-7 box">
					
				</div>
			</div>
		</div>
	</header>
</body>
</html>