@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
body{overflow-x:hidden;}
/* navbar */
.custom-header{
border-radius:0;border-bottom:1px solid #bfbfbf;background-color:#fff
}
.custom-header .container-fluid{width:1040px}
.custom-header .navbar-brand{
font-family:'Fugaz One';text-shadow:none;width:160px;
color:#00b3b3;font-size:40px;letter-spacing:1px;
}
.custom-header .navbar-header p{color:#8c8c8c}
.custom-header .navbar-brand:hover{color:#00b3b3;cursor:default}
.custom-header .nav li a{
margin-right:12px;text-align:center;
color:#202020;font-size:18px;letter-spacing:1px;
}
.custom-header .nav li a:hover{
cursor:pointer;background-color:#fff
} /*bootstrap use this selector to add hover state */
.custom-header .nav .pullUp a::before
{
    position: absolute;
    width: 100%;
    height:3px;
    left: 0px;
    bottom: 0px;
    content: '';
    background:#009999;
    opacity: 0.4;
    transition: all 0.3s;
}
.custom-header .nav .pullUp a:hover::before{
    height: 100%;
}

.custom-header .navbar-toggle,
.custom-header .navbar-toggle:focus
{background-color:#404040;border-color:#fff;color:#fff}
.custom-header .navbar-toggle:hover{background-color:#e60073;border-color:#e60073}
.custom-header .fa-shopping-bag{font-size:120%}

/*footer*/
footer{
background-color:#fff;border-top:1px solid #bfbfbf;padding-top:20px;
padding-bottom:10px;margin-top:150px;font-family:sans
}
footer #upper{margin-bottom:30px}
footer #subscribe{padding:6px 20px;border:1px solid #202020;background-color:#202020;color:#fff;cursor:pointer}
footer input{border:1px solid #202020;padding:4px 20px}
footer .heading{color:#00b3b3;font-size:16px}
footer a{color:#202020}
/* responsive */
@media (min-width:768px){
	.custom-header{padding:20px 0px;transition: padding 0.3s}
	.custom-header .navbar-brand{transition: all 0.5s}
	header{margin-top:100px;padding-top:50px}
}
@media(max-width:767px){
	.custom-header .navbar-brand{font-size:24px}
}
@media(max-width:991px){
	footer #subscribe{padding:6px 10px}
}
