header{background: linear-gradient(to right, rgba(230,230,230,0), rgba(204,204,204,1));}
header .new{
	position:absolute;top:260px;left:200px;color:#202020;font-size:50px;text-align:center
}
header .new p{
	font-family:'Courgette';text-shadow:2px 2px 6px #ccc;
}
header #newcoll{
font-size:20px;border:2px solid #b3b3b3;padding:8px 22px;cursor:pointer
}
header #newcoll:hover{
	color:#fff;background-color:#202020;border-color:#202020
}